{%  extends "base.html"  %}
{% block title %}Servicios
{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
    <div>
        <div>
            <h1>Inicio</h1>
            <h2>Menú</h2>
        </div>
        <div>
            <h2><a href="./agendar_cita/" class="liga">Agendar cita </a></h2>
            <h2><a href="./historial/recetas/" class="liga">Historial recetas</a></h2>
            <h2><a href="./historial/atencion/" class="liga">Historial atencion</a>a></h2>
        </div>
    </div>
{% endblock %}